/* Star rating */
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.rating input {
  display: none;
}

.rating label {
  font-size: 24px;
  cursor: pointer;
  color: var(--light-grey);
}

.rating label:hover,
.rating label:hover ~ label { /* reason why the stars are in reverse order in the html */
  color: var(--contrast);
}

.rating input:checked ~ label {
  color: var(--contrast);
}