:root {
  --brand-color: #7ed957;
  --bright-red: #ff3131;
  --light-grey: #d9d9d9;
  --medium-grey: #bebbbb;
}

.features-list-item {
	border: 1px solid var(--medium-grey);
	border-radius: 50rem;
	padding: 0.5rem;
	margin-inline-end: 0.25rem;
}