.cover-image {
	object-fit: cover;
	height: 170px;
	width: 100%;
	border-radius: var(--border-radius);
}

.small-property-item {
	height: 190px;
}

.small-property-item:focus {
	box-shadow: 0px 3px 15px rgba(0,0,0,0.15);
}