.white-circle {
	background-color: white;
	padding: 5px;
	border-radius: 50%;
	top: 16px;
	right: 16px;
	border: 1px solid var(--light-grey);
}

.outline-heart-icon {
	stroke: #0D0D0D;
}

.heart-icon {
	transition: 0.3s;
}

.heart-icon:hover {
	stroke: none;
	fill: pink;
}