.calendar-day {
	/*background-color: var(--light-grey);*/
	aspect-ratio: 1.618 / 1;
	border: 1px solid var(--light-grey);
}

.past {
	background-color: var(--lighter-grey);
}

.booked {
	background-color: var(--light-brand-color);
}

.start-booked {
	background-color: var(--brand-color);
}

.end-booked {
	background-color: var(--brand-color);
}