/* Grass green: #7ed957 */
:root {
  --brand-color: #7ed957;
  --light-green: #d6f2ca;
  --bright-red: #ff3131;
  --light-grey: #d9d9d9;
  --medium-grey: #bebbbb;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.brand-icon {
  fill: var(--brand-color);
  fill-rule: evenodd;
}

.brand-color-fill {
  fill: var(--brand-color);
}

.brand-color-text {
  color: var(--brand-color);
}

.brand-color-background {
  background-color: var(--brand-color);
}

.brand-font {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

h1 {
  font-size: calc(1.3rem + 0.6vw);
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
}

h2 {
  font-size: 1.25rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 1.5rem;
}

.heading {
  color: var(--brand-color);
}

main {
  margin-top: 2rem;
}

.sticky {
  position: sticky;
  top: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.error-font {
  font-size: 0.75rem;
  margin-bottom: 0px;
}

.sign-in-container {
  width: 450px;
}